

section:nth-of-type(odd) {
    color: black;
    background: rgba(254, 172, 58, 0.864);
}

body {
    font-size: 2rem;
    font-family: "Ojuju", sans-serif;
}
*{
    font-family: "Ojuju", sans-serif;
}

.pages {
    block-size: 10%;
}

img {
    height: 30px;
    width: 30px;
}
.img{
    height: auto;
    width: auto;
}

.dropbtn {
    background-color: #f8b65f9c;
    color: white;
    padding: 16px;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;

}


.dropbtn:hover,
.dropbtn:focus {
    background-color: #c2c4c5;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff35;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transition-duration: 0.5s;
    padding-left: 27px;
    text-decoration: none;
}

.show {
    display: block;
}

.nav {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 20px;

}

a:hover {
    color: black;
    border-radius: 100%;
    transition-duration: 0.5s;
    padding-left: 18px;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: #000000;
    transition-duration: 0.5s;

}

li {
    list-style-type: none;
}


svg {
    opacity: 0;
    position: absolute;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero--secondary {
    --mask: radial-gradient(circle at var(--x, 100%) var(--y, 20%), black 17%, transparent 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #704214, #c3b091, #efdecd);
    color: rgb(9, 14, 23);
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
}

.hero__heading {
    font-family: "Ojuju", sans-serif;

    font-size: clamp(2rem, 4vw, 3rem);
    text-transform: uppercase;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}
h1{
text-align: center;
display: flex;
justify-content: center;
filter: drop-shadow(0 0 1px rgb(255, 237, 73));

}

.works{
    display: flex;
    flex-direction: column;
}

h3{
    color: #704214;
    filter: drop-shadow(0 0 2px black);
}




.image-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 50rem;
    margin-inline: auto;
    bottom: 8px;
    left: 16px;
 }
  
  .image-gallery > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  
    transition: scale 350ms ease, opacity 350ms linear;
  }
  
  .image-gallery:has(img:hover) img:not(:hover) {
    scale: 0.8;
    opacity: 0.7;
  }
  

.stuff{
    padding: 30px;
 
}


.fun-pics {
    --size: 100px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 7px;
    

    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus) {
        filter: brightness(0.5) contrast(0.5);
    }

    & img {
        object-fit: cover;
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
        clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
        transition: clip-path 0.25s, filter 0.75s;
        grid-column: auto / span 2;
        border-radius: 40px;

        &:nth-child(5n - 1) {
            grid-column: 2 / span 2
        }

        &:hover,
        &:focus {
            clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
            z-index: 1;
            transition: clip-path 0.25s, filter 0.25s;
        
        }

        &:focus {
            outline: 1px dashed black;
            outline-offset: -5px;
        }
    }
}



h1 {
    font-family: system-ui, sans-serif;
    font-size: 50px;
    text-align: center;
  }
  
  .text-reveal {
    --animation-duration: 2s;
    --animation-delay: 1s;
    
    --1-fill-color: transparent;
    --1-stroke-color: black;
    --1-stroke-size: 1px;
    
    --2-fill-color: black;
    --2-stroke-color: white;
    --2-stroke-size: 1px;
   
    --lines-color: white;
    --lines-size: 2px;
    
    --text-padding: 0.5rem 1rem;
    
    display: grid;
    
    &::after, & > span { 
      grid-area: 1/1;
      animation: var(--animation-name) var(--animation-duration) ease-in-out var(--animation-delay) forwards }
    
    > span {
      padding: var(--text-padding);
      color: var(--color);
      opacity: 0; 
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-image: var(--mask-image);
      -webkit-mask-composite: var(--mask-composite-webkit);
      -webkit-mask-size: var(--mask-size);
      
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: var(--mask-image);
      mask-composite: var(--mask-composite);
      
      &:nth-child(1) {
        -webkit-text-stroke: var(--1-stroke-size) var(--1-stroke-color);
        --color: var(--1-fill-color);
        --mask-image: linear-gradient(black 0 0), linear-gradient(black 0 0);
        --mask-composite-webkit: destination-out;
        --mask-composite: exclude;
        --animation-name: text-reveal-1;
        
      }
      &:nth-child(2){
        -webkit-text-stroke: var(--2-stroke-size) var(--2-stroke-color);
        --color: var(--2-fill-color);
        --mask-image: linear-gradient(black 0 0);
        --animation-name: text-reveal-2;
      }
  
    }
    &::after{
      content: "";
      z-index: 2;
      border: var(--lines-size) solid var(--lines-color);
      border-block: none;
      width: 100%;
      justify-self: center;
      opacity: 0; 
      --animation-name: text-reveal-lines;
    }
  }
  @keyframes text-reveal-1 { 
    0%, 100% { -webkit-mask-size: 100% 100%, 100%; mask-size: 100% 100%, 100%; opacity: 1 }
    50% { -webkit-mask-size: 0% 100%, 100%; mask-size: 100% 100%, 100% } 
  }
  @keyframes text-reveal-2 { 
    0%, 50% { -webkit-mask-size: 0% 100%; mask-size: 0% 100%; opacity: 1 }
    100% { -webkit-mask-size: 100% 100%; mask-size: 100% 100%; opacity: 1  } 
  }
  @keyframes text-reveal-lines { 
    5%, 95% { opacity: 1 } 
    50% { width: 0 } 
  }
  
  
  *, *:before, *::after { margin: 0; padding: 0; box-sizing: border-box }
  .text { 
    min-height: 10vh;
    background-color: rgb(234, 209, 171);
    display: grid;
    place-items: center;
  }








  .as {
    transition: all 0.3s ease;
  }
  
 .webs:hover .as:not(:hover) {
    opacity: 0.7;
    transform: scale(0.85);
  }
  
 .webs .as:hover {
    transform: scale(1.05) translatey(-5%);
    box-shadow: 0 8px 10px rgba(0,0,0,0.35);
  }
  
 .webs .as:active {
    transform: scale(1.05) translatey(0%);
    box-shadow: 0 3px 5px rgba(0,0,0,0.35);
  }
  
  
 .webs {
    display: grid;
    text-align: center;
padding: 30px;
    grid-template-columns: repeat(3,calc(33.33% - 2vw));
    grid-gap: 3vw;
    
  }
  
  .as {
    background: rgb(139, 23, 23);
    height: 20vh;
    text-transform: uppercase;
    display: grid;
    align-content: center;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f3dab675;
}

input[type=submit] {
  background-color: #fedbb0;
  color: rgba(0, 0, 0, 0.222);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e9f1ea;
  color: #000000;
}

.container {
  border-radius: 5px;
  background-color: #f8b65a;
  padding: 20px;
  display:grid;
  grid-template-columns: 1fr 60px;
  gap: 10px;
  padding: 10px;
}

label{
    color:#000000;
   
}