
  
 /* .nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 200px;
    height: 350px;
    border-top: 2px solid #ece0d1;
    margin-top: 2px;
    margin-left: 300px;
    font-size: 30px;
  }
  
  a:hover{
     color: #c5c6c7;
    border-radius: 100%;
    transition-duration: 0.5s;
    padding-left: 18px;
    text-decoration: none;
    
  }
  a{
   text-decoration: none;
   color: #66fcf1;
    transition-duration: 0.5s;
    
  }
  
  li{
   list-style-type: none;
  }
  

  
  div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  div:first-of-type {  
    animation: showup 7s infinite;
  }
  
  div:last-of-type {
    animation: reveal 7s infinite;
  }
  
  div:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }*/

  header{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pages{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
  }
  
 