body {
    background-attachment: fixed;
    background-color: rgb(234, 209, 171);
 text-shadow: #000000;
}

.pics {
    border-bottom: 4px solid rgb(0, 0, 0);

    display: flex;
    padding-right: 1000px;
    justify-content: space-between;
    gap: 30px;
}

.sectA {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-left: 3px solid rgb(0, 0, 0);
    padding-right: 10%;
    padding-left: 10%;
    text-align: start;
    width: auto;
}

.sectB {
    border-right: 3PX SOLID rgb(0, 0, 0);
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.all {
    margin: 20px auto;

    background-color: rgb(234, 209, 171);
    display: grid;
    grid-template-columns: 20% 79%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.h {
    font-size: 25px;
}

img {
    border-radius: 100%;
    height: 3in;
    width: 3in;
top: 90px;
border-right:6px solid black ;

}

h2 {
    color: brown;
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 20px;

}

a:hover {
    color: #c5c6c7;
    border-radius: 100%;
    transition-duration: 0.5s;
    padding-left: 18px;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: #000000;
    transition-duration: 0.5s;

}




* {
    font-family: "Ojuju", sans-serif;
}




.picc {
    height: 30px;
    width: 30px;
    border: none;
}



.dropbtn {
    background-color: rgb(234, 209, 171);
  color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  height:50px;
  width:auto;
  position:relative;
  cursor:pointer;
  &:before,&:after {
    content:'';
    display:block;
    background-color:black;
    position:absolute;
    top:12.5px;
    border-radius:5px;
    height:5px;
    box-shadow:0 10px 0 black, 0 20px 0 black;
    transition:all 0.25s ease-in-out;
  }
  &:before {
    width:5px;
    left:0;
  }
  &:after {
    width:calc(100% - 10px);
    right:0;
  }
  &.open {
    &:before, &:after {
      top:22.5px;
      box-shadow:0 0 0 black, 0 0 0 black;
    }
    &:before {
      width:40px;
      left:5px;
      transform:rotate(45deg);
    }
    &:after {
      width:40px;
      right:5px;
      transform:rotate(-45deg);
    }
  }
}




.dropbtn:hover,
.dropbtn:focus {
    background-color: #c2c4c5;
}


.dropdown {
    position: relative;
    display: inline-block;
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffc0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    transition-duration: 0.5s;
    padding-left: 27px;
    text-decoration: none;
}


.show {
    display: block;
}